body {
	font-family: 'Inconsolata', sans-serif;
	text-align: center;
}

h1 {
	color: #FF704D;
}

h1:hover {
	color: #DDDDDD;
}

#generate {
	width: 5%;
	border-style: 1px solid black;
}

ul {
	list-style-type: none;
	position: fixed;
}

.classgroup {
	display: inline-block;
	width: 10%;
}